<div class="jumbotron">
  <h2>Личный кабинет</h2>
  <p>Вы вошли как <span class="glyphicon glyphicon-user"></span>
    <%= link_to current_user.email, edit_user_registration_path %></p>
  <p><a class="btn btn-lg btn-success" href="#" role="button">Get started today</a></p>

</div>