<% active = product_carousel_indicator_counter == 0 ? 'active' : '' %>
<li data-slide-to="<%= product_carousel_indicator_counter %>" data-target="#carousel-example-captions" class="<%= active %>"></li>