<% if Rails.env == 'development' %>
<div>
  <div class="hidden-xs hidden-sm hidden-md">lg</div>
  <div class="hidden-xs hidden-sm hidden-lg">md</div>
  <div class="hidden-xs hidden-md hidden-lg">sm</div>
  <div class="hidden-sm hidden-md hidden-lg">xs</div>
</div>
<% end %>